export AWS_ACCESS_KEY_ID=$(op item get 'sysadmin_aws' --fields 'access key id')
export AWS_SECRET_ACCESS_KEY=$(op item get 'sysadmin_aws' --fields 'secret access key')
export AWS_SESSION_TOKEN=$(op item get 'sysadmin_aws' --fields 'session token')
